aiohttp==2.3.10
aiosqlite==0.3.0
async-timeout==2.0.1
asyncio==3.4.3
bintrees==2.0.7
ccxt==1.15.21
certifi==2018.4.16
chardet==3.0.4
gevent==1.2.2
greenlet==0.4.12
multidict==4.3.1
pkg-resources==0.0.0
requests==2.18.4
six==1.10.0
websocket-client==0.40.0
yarl==1.2.0
